$primarycolor: white
$bgcolor: #2F3B52

.row
  display: flex
  margin: 5%
  flex-wrap: wrap
  align-content: center
  align-items: center
  align-self: center
.row-videos
  display: flex
  flex: 0 0 100%
  flex-wrap: wrap
  justify-content: space-between
.row-header
  display: flex
  flex: 0 0 100%
  flex-wrap: wrap
  justify-content: space-between

.nav
  float: left
  display: flex
  height: 35px
  color: $primarycolor
  background-color: #252E42
.example-card
  flex: 0 0 100%
  width: 100%
  background-color: $bgcolor
  color: white
  display: block
  margin-left: auto
  margin-right: auto
  vertical-align: middle

.cast-card
  flex: 0 0 30%
  padding: 1%
  margin: 1%
  width: 100%
  background-color: #252E42
  color: white
  display: block
  margin-left: auto
  margin-right: auto
  vertical-align: middle

.mat-card-title
  text-align: center
  margin-left: auto
  margin-right: auto
  font-size: xx-large

.castTxt
  text-align: center
  font-size: x-large

.mat-card-subtitle
  font-weight: bold
  font-size: large
  color: #7AFFE3
  text-align: center

.mat-card-subtitle.castTxt
  color: #7AFFE3
  text-align: center
  font-weight: 500
  font-size: medium

::ng-deep .mat-progress-spinner.over69 circle, .mat-spinner.over69 circle
  stroke: #00ff22

::ng-deep .mat-progress-spinner.under70 circle, .mat-spinner.under70 circle
  stroke: #ad9300

::ng-deep .mat-progress-spinner.below41 circle, .mat-spinner.below41 circle
  stroke: #ff0000

.mat-card-image
  width: 400px
  float: left
  margin-left: auto
  margin-right: auto

.castPic
  width: 30%
  height: 50%
  display: block
  margin-left: auto
  margin-right: auto
  align-content: center

.mat-progress-spinner
  margin-left: auto
  margin-right: auto

p.ratingText
  margin-left: auto
  margin-right: auto
  text-align: center
  font-size: large
  font-weight: bolder

.mat-chip
  background-color: #252E42
  color: white

.mat-card-header
  justify-content: space-around
.mat-chips

.mat-chip-list
  margin: 5px
  float: right
.video
  margin-left: auto
  margin-right: auto
  align-self: center
  align-items: center
  align-content: center

.ratings
  justify-content: end
  float: right

.overview
  font-size: large
  margin-left: auto
  margin-right: auto
  vertical-align: center
  text-align: center
  width: 60%

.director
  font-size: large

.mat-fab
  background-color: #252E42
  height: 35px
  width: 35px
  margin-left: 15px
.mat-fab:hover
  background-color: #b9dfdc

.mat-icon
  display: block
  vertical-align: middle
  line-height: 5px

.mat-icon:hover
  color: black
.nav-actions
  display: block
  margin-right: 10px

::ng-deep .tooltip-fav
  background: #b9dfdc
  color: black !important

.tileStyle
  float: right
  width: 75%
  flex-direction: row
  display: flex
  justify-content: space-evenly

::ng-deep .mat-grid-tile-header
  color: black !important
  text-align: center !important
  opacity: 70%

.cast-row
  display: flex
  flex-wrap: wrap
  align-content: center
  align-items: center
  align-self: center
  justify-content: space-between
  margin-left: auto
  margin-right: auto
