<ng-container *ngIf="film">

  <div class="row">




    <mat-card class="example-card">
      <mat-card-actions align="start">
        <div class="nav-actions">
        <button mat-icon-button class="nav"  matTooltipClass="tooltip-fav" matTooltip="Go Back"  matTooltipPosition="above" aria-label="Button that shows favourites text" routerLink=".."><mat-icon>navigate_before</mat-icon></button>


        <button mat-icon-button *ngIf="isLoggedIn" matTooltipClass="tooltip-fav" (click)="onFavourite()" matTooltip="{{favourited ? 'Remove from Favourites' : 'Add to Favourites'}}"  matTooltipPosition="above" aria-label="Button that shows favourites text">
          <mat-icon>{{favourited ? 'favorite' : 'favorite_border'}}</mat-icon></button>

          <button mat-icon-button *ngIf="isLoggedIn" matTooltipClass="tooltip-fav" (click)="watched = !watched" matTooltip="Add to Watched"  matTooltipPosition="above" aria-label="Button that shows watched text">
            <mat-icon>{{watched ? 'playlist_add_check' : 'playlist_add'}}</mat-icon></button></div>
      </mat-card-actions>
       <mat-card-header>



       <mat-card-title>{{ film.original_title }}</mat-card-title>

 <div>
  <p class="ratingText">Release Date</p>
 <p class="director">{{ film.release_date | date:'longDate'}}</p>
 </div>


       <div class="mat-chips">
        <p class="ratingText">Genres</p>
       <mat-chip-list aria-label="Genres List"  *ngFor="let genre of film.genres">
        <mat-chip> {{ genre.name }}</mat-chip>

      </mat-chip-list>
</div>
<div class="ratings">
      <p class="ratingText">Rating</p>
      <p>
        <mat-progress-spinner class="over69" *ngIf="film.vote_average > 69"  strokeWidth="10" mode="determinate" diameter="40" value="{{film.vote_average}}"></mat-progress-spinner>
        <mat-progress-spinner class="under70" *ngIf="film.vote_average > 41 && film.vote_average < 70"  strokeWidth="10" mode="determinate" diameter="40" value="{{film.vote_average}}"></mat-progress-spinner>
        <mat-progress-spinner class="below41" *ngIf="film.vote_average < 41 && film.vote_average > 0"  strokeWidth="10" mode="determinate" diameter="40" value="{{film.vote_average}}"></mat-progress-spinner>
        <mat-progress-spinner class="below41" *ngIf="film.vote_average === 0"  strokeWidth="10" mode="determinate" diameter="40" value="{{film.vote_average}}"></mat-progress-spinner>
      </p>
      <p class="ratingText">{{film.vote_average}}%</p>
</div>
 <div>
<p class="ratingText">Director</p>
<div *ngFor="let crew of film.crew" >

<div *ngIf="crew.job === 'Director'">

  <p class="director">{{crew.name}}</p>

</div>
</div>
</div>

   </mat-card-header>

     <mat-card-content>

      <p class="ratingText" *ngIf="film.overview">Plot</p>
    <div class="overview">  <p>{{ film.overview }}</p></div>


<div *ngIf="film.runtime != '0h 0m'">
    <p class="ratingText">Runtime</p>
    <div class="overview">  <p>{{ film.runtime }}</p></div>
  </div>
<img mat-card-image [src]="film.poster_path" alt="Poster for {{film.original_title}}">

<p class="ratingText">Cast</p>
<div class="cast-row" >

<ng-container *ngFor="let cast of film.credits.slice(0,6)">
<mat-card class="cast-card" *ngIf="cast.profile_path">

   <mat-card-header>
   <mat-card-title class="castTxt">{{cast.name}}</mat-card-title>
   <mat-card-subtitle class="castTxt">{{ cast.character }}</mat-card-subtitle>
</mat-card-header>

 <img class="castPic" src="https://image.tmdb.org/t/p/w500{{cast.profile_path}}" alt="Poster for {{cast.name}}">


</mat-card>
</ng-container>
</div>

<p class="ratingText">Videos</p>
<div class="video" *ngFor="let video of film.videos">





  <!-- MARGIN AND HAVE VIDEOS NEXT TO EACH OTHER SAME ROW. -->

  <div class="row-videos">
  <div class="video" *ngIf="video.type === 'Trailer' && video.site === 'YouTube'">


        <youtube-player  videoId="{{video.key}}"></youtube-player>


</div>
</div>  </div>
</mat-card-content>
   </mat-card>




</div>
</ng-container>
