<!-- <a style="cursor: pointer;"
class="list-group-item clearfix"
[routerLink]="[index]"
routerLinkActive="active"
> -->
<div class="container">

  <div class="row">


    <div class="column">

<a style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active">
<mat-card class="example-card">
   <mat-card-actions align="start">
    <button mat-fab class="gradient"><mat-icon>add</mat-icon></button>

    <mat-card-header>
    <mat-card-title>{{ filmItem.original_title }}</mat-card-title>
    <mat-card-subtitle>{{ filmItem.release_date }}</mat-card-subtitle>
</mat-card-header>

  </mat-card-actions>

  <img mat-card-image [src]="filmItem.poster_path" alt="Poster for {{filmItem.original_title}}">

  <mat-card-content>
    <p class="ratingText">RATING</p>
<p *ngIf="filmItem.vote_average != 0">
      <mat-progress-spinner class="over69" *ngIf="filmItem.vote_average > 69"  strokeWidth="10" mode="determinate" diameter="40" value="{{filmItem.vote_average}}"></mat-progress-spinner>
      <mat-progress-spinner class="under70" *ngIf="filmItem.vote_average < 70 "  strokeWidth="10" mode="determinate" diameter="40" value="{{filmItem.vote_average}}"></mat-progress-spinner>
      <mat-progress-spinner class="below41" *ngIf="filmItem.vote_average < 41"  strokeWidth="10" mode="determinate" diameter="40" value="{{filmItem.vote_average}}"></mat-progress-spinner>
    </p>
<p class="ratingText">{{filmItem.vote_average}}%</p>

  </mat-card-content>

</mat-card>
</a>
</div>


</div>
</div>
