<!-- <a style="cursor: pointer;"
class="list-group-item clearfix"
[routerLink]="[index]"
routerLinkActive="active"
> -->
<div class="container">

  <div class="row">


    <div class="column">


<mat-card class="example-card" *ngIf="!filmItem.poster_path.includes('null')">
   <mat-card-actions align="start">

<!-- snackbar when adding to fav/watch lsit -->
    <button mat-icon-button *ngIf="isLoggedIn" matTooltipClass="tooltip-fav" (click)="onFavourite()" matTooltip="Add to Favourites"  matTooltipPosition="above" aria-label="Button that shows favourites text">
      <mat-icon>{{filmItem.favourited ? 'favorite' : 'favorite_border'}}</mat-icon></button>
    <button mat-icon-button *ngIf="isLoggedIn" matTooltipClass="tooltip-fav" (click)="watched = !watched" matTooltip="Add to Watched"  matTooltipPosition="above" aria-label="Button that shows watched text">
      <mat-icon>{{watched ? 'playlist_add_check' : 'playlist_add'}}</mat-icon></button>
   <button mat-icon-button class="navigate" [routerLink]="[index]" matTooltipClass="tooltip-fav" matTooltip="Go to Details" matTooltipPosition="above" aria-label="Button that shows details text"><mat-icon>navigate_next</mat-icon></button>

    <mat-card-header>
    <mat-card-title>{{ filmItem.original_title }}</mat-card-title>
    <mat-card-subtitle>{{ filmItem.release_date }}</mat-card-subtitle>
</mat-card-header>

  </mat-card-actions>

  <img mat-card-image [src]="filmItem.poster_path" alt="Poster for {{filmItem.original_title}}">

  <mat-card-content>
    <p class="ratingText">Rating</p>
<p>
      <mat-progress-spinner class="over69" *ngIf="filmItem.vote_average > 69"  strokeWidth="10" mode="determinate" diameter="40" value="{{filmItem.vote_average}}"></mat-progress-spinner>
      <mat-progress-spinner class="under70" *ngIf="filmItem.vote_average > 41 && filmItem.vote_average < 70"  strokeWidth="10" mode="determinate" diameter="40" value="{{filmItem.vote_average}}"></mat-progress-spinner>
      <mat-progress-spinner class="below41" *ngIf="filmItem.vote_average < 41 && filmItem.vote_average > 0"  strokeWidth="10" mode="determinate" diameter="40" value="{{filmItem.vote_average}}"></mat-progress-spinner>
      <mat-progress-spinner class="below41" *ngIf="filmItem.vote_average === 0"  strokeWidth="10" mode="determinate" diameter="40" value="{{filmItem.vote_average}}"></mat-progress-spinner>
    </p>
<p class="ratingText">{{filmItem.vote_average}}%</p>

  </mat-card-content>

</mat-card>

</div>


</div>
</div>
